.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* button {
  background-color: red;
  min-height: 10vh;
  min-width: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.row{
  display: flex;
}

.correctPosition {
  color: green;
}

.incorrectPosition {
  color: yellow;
}

.incorrect {
  color: grey
}

#inputField {
  text-transform: uppercase;
}

.new-game-button {
  background-color: rgb(0, 192, 0);
  color: white;
  height: 50px;
  width: 100px;
  border-radius: 10px;
}

.new-game-modal {
  height: 400px;
  width: 400px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
